In [2]:
import bs4
import pandas as pd

In [1]:
import html5lib

In [3]:
pip install lxml

Requirement already satisfied: lxml in /usr/local/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages (4.9.1)
WARNING: You are using pip version 21.3.1; however, version 22.2.2 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/3.3.2/libexec/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [4]:
URL='https://de.wikipedia.org/wiki/Berlin_Station'

In [13]:
data = pd.read_html(URL, attrs = {"class": "wikitable toptextcells"}) 
data

[   Nr. (ges.)  Nr. (St.)    Deutscher Titel               Original­titel  \
 0           1          1  Auftrag in Berlin           Station to Station
 1           2          2    Flug in den Tod  Lights Don’t Run on Loyalty
 2           3          3         Abserviert                 Riverrun Dry
 3           4          4   Eine alte Schuld          By Way of Deception
 4           5          5        Unter Druck                  Unter Druck
 5           6          6  Die Qual der Wahl               Just Decisions
 6           7          7        Die Intrige                Proof of Life
 7           8          8         Das Verhör               False Negative
 8           9          9        Thomas Shaw                  Thomas Shaw
 9          10         10  Berlin Endstation              Oratorio Berlin

   Erstaus­strahlung USA Deutsch­sprachige Erstaus­strahlung (D/A/CH)  \
 0         16. Okt. 2016                                18. Juli 2017
 1         23. Okt. 2016                                18. Juli 2017
 2         30. Okt. 2016                                18. Juli 2017
 3          6. Nov. 2016                                18. Juli 2017
 4         13. Nov. 2016                                18. Juli 2017
 5         20. Nov. 2016                                18. Juli 2017
 6         27. Nov. 2016                                18. Juli 2017
 7          4. Dez. 2016                                18. Juli 2017
 8         11. Dez. 2016                                18. Juli 2017
 9         18. Dez. 2016                                18. Juli 2017

                 Regie            Drehbuch
 0   Michaël R. Roskam     Olen Steinhauer
 1   Michaël R. Roskam     Olen Steinhauer
 2   Christoph Schrewe    Bradford Winters
 3   Christoph Schrewe      Larry J. Cohen
 4  Giuseppe Capotondi  Amanda Kate Shuman
 5  Giuseppe Capotondi     Olen Steinhauer
 6    John David Coles          Adria Lang
 7    John David Coles     Kyle Bradstreet
 8      Joshua Marston    Bradford Winters
 9      Joshua Marston     Olen Steinhauer  ,
    Nr. (ges.)  Nr. (St.)                   Deutscher Titel  \
 0          11          1              Alles wird Alt-Right
 1          12          2           Raketen für den Vatikan
 2          13          3                   Direkt ins Herz
 3          14          4                  Das Richtige tun
 4          15          5                      Right of Way
 5          16          6                        Høyre Hook
 6          17          7               Richtig oder Falsch
 7          18          8                      Der Gerechte
 8          19          9  Der Gewinner schreibt Geschichte

                     Original­titel Erstaus­strahlung USA  \
 0  Everything’s Gonna Be Alt-Right         15. Okt. 2017
 1            Right Here, Right Now         15. Okt. 2017
 2               Right to the Heart         22. Okt. 2017
 3               Do the Right Thing         29. Okt. 2017
 4                     Right of Way          5. Nov. 2017
 5                   The Right Hook         12. Nov. 2017
 6                  Right and Wrong         19. Nov. 2017
 7                The Righteous One         26. Nov. 2017
 8  Winners Right the History Books          3. Dez. 2017

   Deutsch­sprachige Erstaus­strahlung (D/A/CH)               Regie  \
 0                                17. Okt. 2017   Christoph Schrewe
 1                                17. Okt. 2017    John David Coles
 2                                17. Okt. 2017    John David Coles
 3                                17. Okt. 2017      Bronwen Hughes
 4                                17. Okt. 2017      Bronwen Hughes
 5                                17. Okt. 2017  Sarah Pia Anderson
 6                                17. Okt. 2017  Sarah Pia Anderson
 7                                17. Okt. 2017  Giuseppe Capotondi
 8                                17. Okt. 2017  Giuseppe Capotondi

                               Drehbuch
 0  Tony Basgallop und Bradford Winters
 1                       Tony Basgallop
 2                   Kiersten Van Horne
 3                       Larry J. Cohen
 4                         Lara Shapiro
 5   Nina Braddock und Bradford Winters
 6                          Zach Craley
 7                       Tony Basgallop
 8                     Bradford Winters  ,
    Nr. (ges.)  Nr. (St.)                               Deutscher Titel  \
 0          20          1                         Aut Concilio Aut Ense
 1          21          2                       Feuer kennt keine Gnade
 2          22          3                                 Die alte Lüge
 3          23          4                Wer flucht, fängt keine Fische
 4          24          5             Der Traum von den vier Polizisten
 5          25          6                                Eiskalte Hölle
 6          26          7  Das Auge will nicht wahr haben, was es sieht
 7          27          8                             Die grüne Datscha
 8          28          9                                    Kriegsende
 9          29         10                           Buch der Gefallenen

                          Original­titel Erstaus­strahlung USA  \
 0                 Aut Concilio Aut Ense          2. Dez. 2018
 1           Fire Knows Nothing of Mercy          2. Dez. 2018
 2                           The Old Lie         17. Dez. 2018
 3    If You Swear, You’ll Catch No Fish         24. Dez. 2018
 4       The Dream of the Four Policemen          6. Jan. 2019
 5                          In Cold Hell         13. Jan. 2019
 6  The Eye Fears When It Is Done to See         20. Jan. 2019
 7                       The Green Dacha         27. Jan. 2019
 8                            End of War         10. Feb. 2019
 9                    Book of the Fallen         17. Feb. 2019

   Deutsch­sprachige Erstaus­strahlung (D/A/CH)              Regie  \
 0                                 8. Dez. 2018  Christoph Schrewe
 1                                 8. Dez. 2018  Christoph Schrewe
 2                                 8. Dez. 2018     Bronwen Hughes
 3                                 8. Dez. 2018     Bronwen Hughes
 4                                 8. Dez. 2018    Hagen Bogdanski
 5                                 8. Dez. 2018  Christoph Schrewe
 6                                 8. Dez. 2018     Tanya Hamilton
 7                                 8. Dez. 2018     Tanya Hamilton
 8                                 8. Dez. 2018         Marc Jobst
 9                                 8. Dez. 2018         Marc Jobst

            Drehbuch
 0    Jason Horwitch
 1   Jill Blotevogel
 2        HSM Resnik
 3  Jennifer Kennedy
 4         Sara Gran
 5  Morenike Balogun
 6       Zach Craley
 7  Jennifer Kennedy
 8   Jill Blotevogel
 9    Jason Horwitch  ]

In [15]:
len(data)

3

In [24]:
data=data[0]

In [25]:
type(data)

pandas.core.frame.DataFrame

In [26]:
df=data

In [28]:
df

,Nr. (ges.),Nr. (St.),Deutscher Titel,Original­titel,Erstaus­strahlung USA,Deutsch­sprachige Erstaus­strahlung (D/A/CH),Regie,Drehbuch
0,1,1,Auftrag in Berlin,Station to Station,16. Okt. 2016,18. Juli 2017,Michaël R. Roskam,Olen Steinhauer
1,2,2,Flug in den Tod,Lights Don’t Run on Loyalty,23. Okt. 2016,18. Juli 2017,Michaël R. Roskam,Olen Steinhauer
2,3,3,Abserviert,Riverrun Dry,30. Okt. 2016,18. Juli 2017,Christoph Schrewe,Bradford Winters
3,4,4,Eine alte Schuld,By Way of Deception,6. Nov. 2016,18. Juli 2017,Christoph Schrewe,Larry J. Cohen
4,5,5,Unter Druck,Unter Druck,13. Nov. 2016,18. Juli 2017,Giuseppe Capotondi,Amanda Kate Shuman
5,6,6,Die Qual der Wahl,Just Decisions,20. Nov. 2016,18. Juli 2017,Giuseppe Capotondi,Olen Steinhauer
6,7,7,Die Intrige,Proof of Life,27. Nov. 2016,18. Juli 2017,John David Coles,Adria Lang
7,8,8,Das Verhör,False Negative,4. Dez. 2016,18. Juli 2017,John David Coles,Kyle Bradstreet
8,9,9,Thomas Shaw,Thomas Shaw,11. Dez. 2016,18. Juli 2017,Joshua Marston,Bradford Winters
9,10,10,Berlin Endstation,Oratorio Berlin,18. Dez. 2016,18. Juli 2017,Joshua Marston,Olen Steinhauer

In [31]:
df_agg=df.pivot_table(index=['Regie'],values='Deutscher Titel',aggfunc='count')

In [33]:
df_agg

                    Deutscher Titel
Regie
Christoph Schrewe                 2
Giuseppe Capotondi                2
John David Coles                  2
Joshua Marston                    2
Michaël R. Roskam                 2

In [38]:
df_agg.sort_values(['Regie'],ascending=False)

                    Deutscher Titel
Regie
Michaël R. Roskam                 2
Joshua Marston                    2
John David Coles                  2
Giuseppe Capotondi                2
Christoph Schrewe                 2

In [46]:
df_agg_new=df.pivot_table(index=['Regie'],values='Nr. (St.)',aggfunc='sum')

In [47]:
df_agg_new

                    Nr. (St.)
Regie
Christoph Schrewe           7
Giuseppe Capotondi         11
John David Coles           15
Joshua Marston             19
Michaël R. Roskam           3

In [49]:
df_agg.index

Index(['Christoph Schrewe', 'Giuseppe Capotondi', 'John David Coles',
       'Joshua Marston', 'Michaël R. Roskam'],
      dtype='object', name='Regie')

In [48]:
df_agg[df_agg['Nr. (St.)']>7]

KeyError: 'Nr. (St.)'