In [8]:
pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/Cellar/jupyterlab/3.3.2/libexec/lib/python3.9/site-packages (from openpyxl) (1.1.0)
WARNING: You are using pip version 21.3.1; however, version 22.2.2 is available.
You should consider upgrading via the '/usr/local/Cellar/jupyterlab/3.3.2/libexec/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [9]:
import numpy as np
import pandas as pd

In [10]:
customers = pd.read_excel('/Users/annadvoskina/projects/Pyhon_for_Data_Analytics/datasets/customers.xlsx')

In [12]:
customers2 = pd.read_excel('/Users/annadvoskina/projects/Pyhon_for_Data_Analytics/datasets/customers.xlsx')

In [14]:
customers_total = pd.concat([customers,customers2])

In [15]:
customers_total.describe

<bound method NDFrame.describe of      customer_id  year_of_birth  educational_level marital_status  \
0       20201701            1982        Graduation         Single
1       20201702            1950        Graduation        Married
2       20201703            1965        Graduation       Divorced
3       20201704            1984        Graduation   Relationship
4       20201705            1981               PhD        Widowed
..           ...             ...               ...            ...
494     20202195            1944               PhD       Divorced
495     20202196            1962            Master       Divorced
496     20202197            1978        Graduation       Divorced
497     20202198            1971               PhD   Relationship
498     20202199            1949               PhD   Relationship

     annual_income        purhcase_date  recency  online_purchases  \
0          58138.0  2012-04-09 00:00:00       58                 8
1          46344.0  2014-08-03 00:00:00       38                 1
2          71613.0            8/21/2013       26                 8
3          26646.0  2014-10-02 00:00:00       26                 2
4          58293.0            1/19/2014       94                 5
..             ...                  ...      ...               ...
494        55614.0           11/27/2013       85                 9
495        59432.0            4/13/2013       88                 5
496        55563.0  2014-05-04 00:00:00       22                 2
497        43624.0            4/21/2013       83                 4
498        41461.0            5/22/2014       63                 6

     store_purchases  complaints  calls  intercoms
0                  4           0      3         11
1                  2           0      3         11
2                 10           0      3         11
3                  4           0      3         11
4                  6           0      3         11
..               ...         ...    ...        ...
494                6           0      3         11
495               11           0      3         11
496                3           0      3         11
497                4           0      6         11
498               11           0      6         11

[998 rows x 12 columns]>

In [17]:
customers.sample(5)

,customer_id,year_of_birth,educational_level,marital_status,annual_income,purhcase_date,recency,online_purchases,store_purchases,complaints,calls,intercoms
55,20201756,1955,Master,Married,82384.0,11/19/2012,55,3,13,0,3,11
388,20202089,2000,Graduation,Relationship,38823.0,8/30/2012,56,2,3,0,3,11
124,20201825,1957,Graduation,Single,101970.0,2013-12-03 00:00:00,69,6,13,0,3,11
172,20201873,1987,Graduation,Single,50447.0,4/21/2014,4,3,3,0,3,2
412,20202113,1994,PhD,Widowed,66465.0,3/30/2013,1,11,12,0,3,11

In [40]:
customers_agg = customers.pivot_table(index=['educational_level','marital_status'],values='annual_income',aggfunc='sum')

In [41]:
customers_agg.sort_values(by=['annual_income'], ascending=False, inplace=True)

In [48]:
customers_filtered=customers[customers['educational_level'] == 'Graduation']

In [53]:
customers_filtered_agg=customers_filtered.pivot_table(index=['educational_level','marital_status'],values='annual_income',aggfunc='sum')\
    .sort_values(by=['annual_income'], ascending=False)

In [54]:
customers_filtered_agg

                                  annual_income
educational_level marital_status
Graduation        Married             3223917.0
                  Single              2999727.0
                  Relationship        2611266.0
                  Divorced            2517509.0
                  Widowed             1305540.0
                  Widow                192390.0

In [55]:
exclude=['Widow','Widowed']

In [56]:
customers_filtered_exclude=customers[-customers['marital_status'].isin(exclude)]

In [58]:
customers_filtered_exclude_agg=customers_filtered_exclude.pivot_table(index=['educational_level','marital_status'],values='annual_income',aggfunc='sum')

In [63]:
customers_filtered_exclude_agg=customers_filtered_exclude_agg.sort_values(['educational_level','annual_income'])

In [64]:
customers_filtered_exclude_agg

                                  annual_income
educational_level marital_status
Basic             Single                24882.0
                  Relationship          49329.0
                  Divorced              62391.0
Graduation        Divorced            2517509.0
                  Relationship        2611266.0
                  Single              2999727.0
                  Married             3223917.0
High School       Divorced             148450.0
                  Single               242259.0
                  Married              581213.0
                  Relationship         670471.0
Master            Divorced             563755.0
                  Relationship         874110.0
                  Married             1003400.0
                  Single              1193790.0
PhD               Single              1027665.0
                  Divorced            1069793.0
                  Married             1220833.0
                  Relationship        1740590.0

In [65]:
customers_filtered_exclude_agg.index

MultiIndex([(      'Basic',       'Single'),
            (      'Basic', 'Relationship'),
            (      'Basic',     'Divorced'),
            ( 'Graduation',     'Divorced'),
            ( 'Graduation', 'Relationship'),
            ( 'Graduation',       'Single'),
            ( 'Graduation',      'Married'),
            ('High School',     'Divorced'),
            ('High School',       'Single'),
            ('High School',      'Married'),
            ('High School', 'Relationship'),
            (     'Master',     'Divorced'),
            (     'Master', 'Relationship'),
            (     'Master',      'Married'),
            (     'Master',       'Single'),
            (        'PhD',       'Single'),
            (        'PhD',     'Divorced'),
            (        'PhD',      'Married'),
            (        'PhD', 'Relationship')],
           names=['educational_level', 'marital_status'])

now out index is complex (see above) but we can apply to index using only one field for example marital status

In [70]:
customers_filtered_exclude_agg.index.get_level_values('marital_status') == 'Relationship'

array([False,  True, False, False,  True, False, False, False, False,
       False,  True, False,  True, False, False, False, False, False,
        True])